<h1>Add a new order to @Model.Name</h1>

<form action="/orders/@Model.Id/orders" method="post">
  <label for="title">Add the title for the new order:</label>
  <input id="title" name="title" type="text">
  <br>
  <label for="description">Add a description for the new order:</label>
  <input id="description" name="description" type="text">
  <br>
  <label for="price">Add the price for the new order:</label>
  <input id="price" name="price" type="number">
  <br>
  <label for="date">Add the date for the order:</label>
  <input id="date" name="date" type="date">
  <br>
  <br>
  <button type="submit">Add Order</button>
</form>